<!DOCTYPE html>
<html>
<head>
  <title>Fuckers social network muthafuckah</title>
</head>
<body>
  <h1>Fuckers social network muthafuckah</h1>

  <form action="/log" method="POST">
    <input type="text" name="username" placeholder="Your user">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" name="save" value= "login" >Login</button>
  </form>


</body>
</html>
