<!DOCTYPE html>
<html>
<head>
  <title>Fuckers social network muthafuckah</title>
</head>
<body>
  <h1>WELCOME <%= @user%>, IDIOT</h1>
  <img src = "/worm.gif" alt = "very cool">
  <form action="/logout" method="POST">
    <button type="submit" name="log" value= "out" >Log Out</button>
  </form>

</body>
</html>
