<!DOCTYPE html>
<html>
<head>
  <title>Password Validator</title>
</head>
<body>
  <h1>CONGRATULATIONS</h1>

  <img src = "/puppy.jpg" alt = "very cool">
  <img src = "/unicorn.jpg" alt = "very cool">
  <img src = "/worm.gif" alt = "very cool">

</html>
