<!DOCTYPE html>
<html>
<head>
  <title>Password Validator</title>
</head>
<body>
  <img src = "/koolaid.jpg" alt = "very cool">
  <h1>Oh yeah</h1>

  <form action="/login" method="POST">
    <input type="text" name="email" placeholder="Your email">
    <input type="text" name="password" placeholder="Your password">
    <button type="submit" name="save" value= "login" >Login</button>
  </form>


</body>
</html>
