<!DOCTYPE html>
<meta HTTP-EQUIV="REFRESH" content="5; url=localhost:9393/">
<html>
<head>
  <title>Password Validator</title>
</head>
<body>
  <h1>NOOOOOOOOOOOOOOOOOOOOOO!!!!!1 PASSWORD IS FUCKING NOT SECURE!!!!!11</h1>

  <img src = "/wasted.gif" alt = "very cool">
  <img src = "/fail1.gif" alt = "very cool">
  <img src = "/fail2.gif" alt = "very cool">

  <form action="/back" method="POST">
    <button type="submit" name="save" value= "login" >Back</button>
  </form>

</html>
