<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Movie Quizz</title>
  </head>
  <body>

    <h1>The Motherfucking Movie Quizz</h1>
    <form action="/search" method="POST">
      <input type="text" name="search" placeholder="Write something...">
      <button type="submit" name="new">Search</button>
    </form>

    <script type="text/javascript">
      var ran
      ran = Math.round(Math.random()*50000)
      document.write("Usted es el visitante " + ran + " de esta página.")
    </script>

  </body>
</html>
